<p>1 {{ 'examples.item' | transloco }}</p>
<pip-collage [sources]="images1"></pip-collage>
<p>2 {{ 'examples.items' | transloco }}</p>
<pip-collage [sources]="images2"></pip-collage>
<p>3 {{ 'examples.items' | transloco }}</p>
<pip-collage [sources]="images3"></pip-collage>
<p>4 {{ 'examples.items' | transloco }}</p>
<pip-collage [sources]="images4"></pip-collage>
<p>5 {{ 'examples.items_more_than_4' | transloco }}</p>
<pip-collage [sources]="images5"></pip-collage>
<p>6 {{ 'examples.items_more_than_4' | transloco }}</p>
<pip-collage [sources]="images6"></pip-collage>
<p>7 {{ 'examples.items_more_than_4' | transloco }}</p>
<pip-collage [sources]="images7"></pip-collage>
<p>8 {{ 'examples.items_more_than_4' | transloco }}</p>
<pip-collage [sources]="images8"></pip-collage>
<p>10 {{ 'examples.items_more_than_4' | transloco }}</p>
<pip-collage [sources]="images10"></pip-collage>
