<ng-container *ngIf="ctx$ | async as ctx">
  <mat-toolbar color="primary" class="mat-elevation-z6 example-appbar">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center" fxFlex="grow">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div fxFlex="grow" fxLayout="row" fxLayoutAlign="start center">
        <ng-container *ngFor="let b of mainService.breadcrumbs; let isLast = last">
          <span [ngStyle]="{'cursor': b.click ? 'pointer' : 'default'}"
                (click)="b.click ? b.click(b) : null">{{ b.title | transloco }}</span>
          <mat-icon *ngIf="!isLast">chevron_right</mat-icon>
        </ng-container>
      </div>

      <button mat-icon-button [matMenuTriggerFor]="themeMenu">
        <mat-icon>format_color_fill</mat-icon>
      </button>
      <mat-menu #themeMenu="matMenu">
        <button *ngFor="let theme of ctx.themes" mat-menu-item (click)="changeTheme(theme)">
          {{ theme.displayName }}
          <mat-icon *ngIf="theme.name === ctx.currentTheme?.name">check</mat-icon>
        </button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="languageMenu">
        <mat-icon>translate</mat-icon>
      </button>
      <mat-menu #languageMenu="matMenu">
        <button *ngFor="let lang of translate.getAvailableLangs()" mat-menu-item
                (click)="translate.setActiveLang(lang)">
          {{ lang | transloco }}
          <mat-icon *ngIf="lang === translate.getActiveLang()">check</mat-icon>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" fixedTopGap="64">
      <pip-examples-list
        [list]="list"
        (selected)="sidenav.close()"
      >
      </pip-examples-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container">
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
